.hide {
	display: none;
}

.audio-controls {
	width: 100%;
	height: 30px;
	background-color: #A0A0A0;
	color: white;
    clear: both;
    margin-top: 50px;
    margin-bottom: 100px;
    padding-top: 10px;
}

.audio-play {
	color: white;
	width: 100px;
	height: 85px;
    margin-left: 10px;
    margin-top: -45px;
	float: left;
	text-align: center;
	font-size: 60px;
	font-family: “Arial”, sans-serif;
    border-radius: 50%;
    padding-top: 15px;
    border: 5px solid #A0A0A0;
}

.audio-time {
	float: right;
	font-family: “Arial”, sans-serif;
	padding-right: 10px;
	vertical-align: bottom;
}


.audio-progress {
    width: 0px;
    height: 20px;
    margin-left: 140px;
}
